.news__header {
display: flex;
max-width: 1230px;
width: 100%;
justify-content: flex-start;
font-style: italic;
font-weight: 600;
font-size: 72px;
line-height: 87px;
margin-block-start: 0;
margin-block-end: 0;
margin: auto;
}