.header__nav_mob{
    display: grid;
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-template-columns: repeat(5, 1fr);
    min-height: 100px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /*max-width: 1340px;*/
}

.header__nav {
    display: flex;
    background-color: #4B0082;
}