.header__logo {
    display: flex;
    font-size: 72px;
    line-height: 87px;
    font-style: italic;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 19px 0 19px 50px;
    color: #4B0082;
}